.contact-wrapper {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000d6;
  color: var(--text);
}

.contact {
  width: 100%;
  max-width: 600px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.contact-inputs {
  display: grid;
  gap: 34px 24px;
  grid-template-areas:
    'email phone'
    'subject subject'
    'notes notes'
}

.contact-inputs div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}


.contact-inputs input,
.contact-inputs textarea {
  outline: none;
  width: 100%;
  color: var(--text);
  border-color: var(--text);
}

.fields {
  display: flex;
  font-weight: 500;
  align-items: center;
  column-gap: 10px;
}

.contact-inputs input {
  height: 34px;
  padding: 20px 12px;
  border: 0;
  border-bottom: 1px solid;
  font-size: 18px;
  font-weight: 400;
}

// .contact-inputs input:invalid,
// .contact-inputs textarea:invalid {
//   border-bottom: 1px solid var(--error);
//   color: var(--error)
// }

// .contact-inputs textarea:invalid {
//   border: 1px solid var(--error);
// }

.contact-inputs textarea {
  resize: none;
  padding: 6px 12px;
  height: 200px;
  font-size: 20px;
  line-height: 1.4;
}

.field-email {
  grid-area: email;

  & input {
    direction: ltr;
  }
}

.field-phone {
  grid-area: phone;

  & input {
    direction: ltr;
  }
}

.field-subject {
  grid-area: subject;
}

.field-notes {
  grid-area: notes;
  align-items: flex-start;
}

#subject {
  margin-right: 10px;
}

.contact input[type=submit] {
  width: 120px;
  height: 46px;
  border: none;
  outline: none;
  box-shadow: 0 0 1.5px .02px;
  background-color: var(--primary);
  font-size: large;
  font-weight: 500;
  color: var(--text);
  cursor: pointer;
}

.contact input[type=submit]:hover {
  transform: translateY(-1px);
}

.contact input[type=submit]:active {
  transform: translateY(1px);
}

.error-field {
  position: absolute;
  bottom: 12px;
  right: 30%;
  color: rgb(255, 98, 98);
}

select {
  outline: none;
}

@media (max-width: 768px) {
  .contact h1 {
    padding: 0 20px;
  }

  .contact form {
    width: 100%
  }

  .contact-inputs {
    grid-template-areas:
      'email'
      'phone'
      'subject'
      'notes';

    width: 100%;
    padding: 20px;
  }

  .field-phone span {
    padding-left: 6px;
  }

  #subject {
    margin-right: 0;
  }

  .contact input[type=submit] {
    margin-left: 20px;
  }
}