.products-container {
  display: flex;
  padding: 60px;
  padding-bottom: 40px;
}

.products-container span {
  margin: 0;
}

.products-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &:has(.filter-menu-button) {
    direction: ltr;
  }
}

@media screen and (max-width: 768px) {
  .body {
    display: flex;
    justify-content: center;
  }
}