.navbar {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.3s;
  background: var(--primary);
  z-index: 99;
  box-shadow: 0 1px 2px 0.001px;
}

.navbar.fixed {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}


.navbar ul {
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar li a {
  display: flex;
}

.navbar li a,
.navbar li>div:first-child {
  padding: 20px 40px;
}

.navbar li>div:first-child {
  user-select: none;
  font-weight: bold;
  color: var(--text);
}

.navbar li a:hover {
  background: rgba(255, 255, 255, 0.26)
}

.category-list {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  background-color: var(--primary);
}

.navbar li div:hover+.category-list,
.category-list:hover {
  display: flex;
}

@media screen and (max-width: 768px) {
  .navbar li a {
    padding: 20px 32px;
  }
}

@media screen and (max-width: 600px) {
  .navbar li a {
    padding: 20px;
  }
}