.carousel-wrapper {
  width: 100%;
  height: 600px;
  background-color: black;
  position: relative;
}

.carousel-controls {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  padding: 20px
}

.carousel-controls button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: white;
  font-size: 24px;
  z-index: 4;
  direction: ltr;
  cursor: pointer;
}

.carousel {
  position: relative;
  width: 100vw;
  height: 100%;
}

.carousel img {
  position: absolute;
  width: 100%;
  height: 600px;
}

.carousel-navigation {
  display: flex;
  gap: 6px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.carousel-navigation-item {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: rgb(4, 111, 187);
  cursor: pointer;
}

.carousel-navigation-item.active {
  transform: scale(1.25);
}