.footer {
  height: 240px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: var(--primary-color);
  box-shadow: 0 -1px 3px .4px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.footer ul {
  display: flex;
  flex-direction: column;
}

.footer ul li {
  direction: ltr;
}

.social-media-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.social-media-links {
  flex-direction: row !important;
  gap: 10px;
  direction: ltr;
}

.social-media-link {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.social-media-link a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-link .icon {
  width: 72px;
  height: auto;
}

.company-information {
  display: flex;
  gap: 50px;
}

.section-title {
  font-weight: bold;
  font-size: 24px;
}

.section-content {
  color: rgb(30, 27, 27);
  font-weight: 500;
  font-size: 1.02rem;
}

// .footer-credits {
//   direction: ltr;
//   font-size: 14px;
//   margin: 20px 0 10px 0;
//   color: white;
// }

@media screen and (max-width: 768px) {
  .footer {
    height: auto;
    padding-bottom: 50px;
  }

  .footer-links {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .company-information {
    gap: 20px;
  }

  .company-information li {
    padding-right: 10px;
  }
}