.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body {
  width: 100%;
  min-height: 404px;
  padding: 50px 0;
}

.body:has(.welcome-page) {
  padding: 0;
}

.header-photo {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
}